{{ partial "header.html" . }}
<body>
<style>
  body {
    padding-left: 0 !important;
  }
  p {
    width: 100%;
  }
</style>
<div id="homepage">
{{ partial "brand.html" . }}
{{ partial "banner.html" . }}
{{ partial "nav.html" . }}

{{ range .Site.Pages }}
  {{if eq .Type "post" }}
    {{if eq .Title "Posts"}}
      <h2><a href="{{ .RelPermalink }}">See all posts</a></h2>
    {{else}}
      {{ partial "content.header.html" . }}
      <p>{{ .Params.excerpt }}</p>
      <p><a href="{{ .RelPermalink }}">Read On &rarr;</a></p>
      <hr>
    {{ end  }}
  {{ end }}
{{ end  }}
{{ partial "footer.html" . }}
</div>
</body>
</html>
