<header class="brand {{if not .IsHome}}non-home-brand{{ end }}" >
    <h1>
        <a href="{{.Site.BaseURL | relURL}}">
            <span id = "blog_logo">
                {{ partial "noun_infinity.html" }}
            </span>
            {{if .IsHome}}
            {{if .Site.Params.showtitle}}
            <span id = "blog_title">
                {{.Site.Title}}
            </span>
            {{end}}
            {{end}}
        </a>
    </h1>
</header>
