<meta http-equiv="content-type" content="text/html; charset=utf-8">
<!-- Enable responsiveness on mobile devices-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ .Description | default .Site.Params.Description }}">
<!-- <meta name="description" content="{{ .Description }}"> -->
<meta name="keywords" content="{{ range .Keywords }}{{ . }},{{ end }}">
<meta name="author" content="{{ .Site.Title }}">
{{ .Hugo.Generator }}
